.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bot {
  bottom: 0;
  right: 0;
  position: fixed;
  width: 350px;
  z-index: 10;
  opacity: 0.97;
}

.btn {
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 20px;
  float: right;
  padding: 20px;
  background-color: #F6D9A0;
  border-radius: 30px;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 14px;
  margin-right: 20px;
  background-image: url("../public/comment.png");
  min-height: 70px;
  min-width: 70px;
  position: relative;
}

.btn-close {
  font-size: x-large;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sliderStyle{
  /* border: 1px solid black; */
  width: 95%;
  height: 80%;
  border-radius: 70px;
  /* text-align: center; */
  overflow: hidden;
  margin: 35px auto;

  /* make responsive  */
}
