@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FEF7E7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeIcon{
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 9px;
  margin-left: 10px;
}

.mainLogo{
  height: 60px;
  width: 275px;
}

.inputStyle:focus{
  border: 0px solid;
  outline: none;  
  
}

.inputStyle{
  
  border: 0px solid;
}



.searchRes:hover{
  background-color: orange;

}



@media only screen and (max-width :768px) {
  .section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

  }

  .main {
    max-height: 80%;

  }

  .main h1 {
    width: 100%;
    margin: 0 auto;
  }

  .container {
    width: 100%;
    max-width: 60%;
    /* max-height:33%; */
    margin: 1.5rem 0;
  }

    .caro {
      max-height: 40%;
    }

   
}
